@font-face {
  font-family: 'Knockout-HTF29-JuniorLiteweight';
  src: url('Knockout-HTF29-JuniorLiteweight.eot?#iefix') format('embedded-opentype'),  url('Knockout-HTF29-JuniorLiteweight.otf')  format('opentype'),
	     url('Knockout-HTF29-JuniorLiteweight.woff') format('woff'), url('Knockout-HTF29-JuniorLiteweight.ttf')  format('truetype'), url('Knockout-HTF29-JuniorLiteweight.svg#Knockout-HTF29-JuniorLiteweight') format('svg');
  font-weight: normal;
  font-style: normal;
}